@import '../directives/index.css';

* {
  margin: 0;
  padding: 0;
  -moz-user-select: -moz-none;
  -moz-user-select: none;
  -o-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-family: 'FZLTHJW';
}
body {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

@charset "utf-8";
body,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
dl,
dt,
dd,
ul,
ol,
li,
pre,
code,
form,
legend,
b,
button,
input,
textarea,
blockquote,
article,
aside,
footer,
header,
nav,
section {
  margin: 0;
  padding: 0;
}

img,
abbr {
  border: 0;
}

table td {
  word-break: break-all;
}

caption,
th {
  text-align: left;
}

ol,
ul {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: 700;
}

input,
button,
textarea,
select {
  font-size: inherit;
  font-size: 100%;
  font-family: inherit;
}

input {
  -webkit-writing-mode: horizontal-tb !important;
  text-rendering: auto;
  color: -internal-light-dark-color(black, white);
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: start;
  -webkit-appearance: textfield;
  background-color: -internal-light-dark-color(white, black);
  -webkit-rtl-ordering: logical;
  cursor: text;
  margin: 0em;
  font: 400 6.3333px Arial;
  /*padding: 1px 0px;
    border-width: 2px; */
  border-style: inset;
  border-color: initial;
  border-image: initial;
}

/* 如果想每一个组件最外的层是100vh和100vw,不产生滚动，并且flex布局 */
.layOutIndex {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
